
#  this will only work well if all codes in package need same version of each lib below

w3nco_ver=2.4.1
bufr_ver=11.4.0
w3emc_ver=2.7.3
bacio_ver=2.4.1

module load w3nco/$w3nco_ver
module load bufr/$bufr_ver
module load w3emc/$w3emc_ver
module load bacio/$bacio_ver

